<div class="content" class:hide="!display">
  <div class="header">
    Mamba Console
  </div>
  <div class="debug-display" ref:display></div>
</div>

<Keystroke key="help" on:keystroke="set({ display: !display })"/>

<script>
  import Keystroke from '@mamba/app/Keystroke.html';

  const oLog = console.log;
  const oWarn = console.warn;
  const oError = console.error;

  export default {
    components: {
      Keystroke,
    },
    data() {
      return {
        debugText: '',
        display: false,
        backgroundColor: 'darkgray',
        logColor: 'green',
        warnColor: 'orange',
        errorColor: 'red',
      };
    },
    oncreate() {
      console.log = this.log.bind(this);
      console.warn = this.warn.bind(this);
      console.error = this.error.bind(this);
    },
    ondestroy() {
      console.log = oLog;
      console.warn = oWarn;
      console.error = oError;
    },
    methods: {
      _createNode(text) {
        const node = document.createElement('DIV');
        node.style.marginBottom = '5px';
        this.refs.display.appendChild(node);

        if (Array.isArray(text)) {
          text.forEach(content => {
            JSON.stringify(content);
            node.innerText += `${content}\n`;
          });
          return node;
        }
        node.innerText = text;
        return node;
      },
      log(msg) {
        const node = this._createNode(msg);
        node.style.color = '#ededed';
      },
      warn(msg) {
        const node = this._createNode(msg);
        node.style.color = '#e88235';
      },
      error(msg) {
        const node = this._createNode(msg);
        node.style.color = '#fc3d1b';
      },
    },
  };
</script>

<style>
  .content {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-color: #333;
    text-align: left;
    z-index: 99999;
    color: #ededed;
  }

  .hide {
    display: none;
  }

  .header {
    text-align: center;
    font-size: 22px;
    margin: 10px 0px;
  }

  .debug-display {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    padding: 0 7px;
  }
</style>
